// font-size for tablet and desktop

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 84px;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
}

h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
h6 {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
}
// * //
.p1-bold-19 {
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
}
.p1-regular-19 {
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
}
// * //
.p2-bold-17 {
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
}
.p2-regular-17 {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}
.p2-italic-17 {
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  font-style: italic;
}
.p2-italic-12 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  font-style: italic;
}
.p3-bold-14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.p3-regular-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.p4-bold-12 {
  font-size: 12px;
  font-weight: 700;
  line-height: 20.4px;
}
.p4-regular-12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
