$body-bg-color: #ffffff;
$primary-black: #1f1f21;
$white-color: #ffffff;
$black-color: #000000;
$white-grey-color: #f5f5f7;
$grey-color: #a1a1a6;
$primary-font-black: #1d1d1f;
$link-blue-color: #06c;
